*.pyc
.idea
.eggs/
*.egg-info/
build/
dist/
*.DS_Store
# Quarto dev-cache
/.quarto/
docs/.quarto

# Let CI build this
/docs
docs/_build/


# Vim swapfiles
.*.sw?
.sw?

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# setuptools-scm
tiledb/bioimg/version.py

# Unit test / coverage reports
.coverage
