*.pyc
.idea
.eggs/
*.egg-info/
build/
dist/
*.DS_Store
# Quarto dev-cache
quarto/.quarto

# Let CI build this
quarto/reference/
quarto/build/


# Vim swapfiles
.*.sw?
.sw?

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# setuptools-scm
tiledb/bioimg/version.py

# Unit test / coverage reports
.coverage
